html{
  background-color: black;
  font-family: verdana;
}
h1{
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
h3{
  color: aquamarine;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  text-decoration: underline;

}
h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}
h5{
  font-family: verdana;
  font-size: 21px;
  color: gray;
  font-weight: normal;
}

.container {
width: 150px;
height: 150px;
position: relative;
overflow: hidden;
}

.container img {
max-height: 150px;
position: absolute;
left: 50%;
margin-left: -75px;
}
